@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* --------------------------------------
    RESET CSS
-----------------------------------------
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}



/* --------------------------------------
    VARIABILI GLOBALI
-----------------------------------------

:root {
    --background: #F6E7BC;
    --background-ligthest: #fff6ee;
    --background-ligth: #fff2d4;
    --background-ligth-border: #c6bfa4;
    --background-dark: #d5c79a;
    --accent-darkest: #0B2D72;
    --accent-dark: #154351;
    --accent: #0AC4E0;
    --accent-soft: #74c5cd;
    --accent-soft-border: #4b8288;
    --text-color: #171717;
}
*/

:root {
    --background: #F6E7BC;
    --background-ligthest: #fff6ee;
    --background-ligth: #fff2d4;
    --background-ligth-border: #534d38;
    --background-dark: #d5c79a;
    --background-darkest: #817964;
    --accent-darkest: #0B2D72;
    --accent-dark: #154351;
    --accent: #0AC4E0;
    --accent-soft: #74c5cd;
    --accent-soft-border: #4b8288;
    --text-color: #171717;
    --confirm-soft: #c4d195;
    --confirm-soft-border: #6e7d43 ;
}

* {
    transition: all ease 0.1s;
}

.nunito_regular {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.nunito_bold {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

body {
    padding: 8px;
    background-color: var(--background-darkest);
    color: var(--text-color);
    max-width: 100vw;
}

.contents {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: top left;
    justify-content: center;
    align-items: stretch;
}

.visible {
    display: flex;
}

.hidden {
    display: none;
    pointer-events: none;
}


/* --------------------------------------
    PAGINA PRINCIPALE
-----------------------------------------
*/
/*
.task_main_con {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    align-items: stretch;
    height: 80%;
} */


.task_main_con {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 8px;
    height: 80%;
}

.task_side_con_1 {
    grid-column: span 2 / span 2;
}

.task_side_con_2 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 1;
    grid-row-start: 2;
}

.task_side_con_3 {
    grid-column-start: 3;
    grid-row-start: 4;
}

.task_side_con_4 {
    grid-column: span 2 / span 2;
    grid-column-start: 4;
    grid-row-start: 4;
}

.task_side_con_5 {
    grid-column: span 3 / span 3;
    grid-row: span 3 / span 3;
    grid-column-start: 3;
    grid-row-start: 1;
}




.task_side_con {
    background-color: var(--background-ligth);
    padding: 15px;
    border: var(--background-ligth-border) 5px solid;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(43, 38, 24, 0.15);
}

.task_side_con:hover {
    scale: 1.01;
}

.task_side_con:active {
    scale: 0.99;
}

.task_side_con_2_con {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.task_side_con_r {
    flex-grow: 1.5;
}

.task_form_con {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: stretch;
    justify-content: center;
}

.form_row {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form_row_btn {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.task_title {
    margin-left: 10px;
    font-size: 1rem;
    color: var(--accent-darkest);
}

.task_form_input {
    border: var(--accent-soft-border) 5px solid;
    background-color: var(--accent-soft);
    padding: 10px 5px;
    border-radius: 25px;
}

.button {
    border: var(--confirm-soft-border) 5px solid;
    background-color: var(--confirm-soft);
    padding: 5px 10px;
    border-radius: 25px;
    font-size: 1rem;
}

.button:hover {
    filter: brightness(0.9);
    scale: 1.02;
}

.button:active {
    filter: brightness(0.7);
    scale: 0.9;
}

.header {
    color: var(--background-ligth-border);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.main_title {
    font-size: 2rem;
}

.section_title {
    font-size: 1.5rem;
    color: var(--background-ligth-border);
}

.section_subTitle {
    font-size: 1rem;
    color: var(--background-ligth-border);
}

.main_username {
    font-size: 1.2rem;
}

.task_progressBar_con {
    height: 100%;
    align-items: stretch;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.task_progressBar {
    height: 30px;
    border-radius: 50px;
    border: 5px solid var(--background-ligth-border);
    background-color: var(--background-darkest);
    display: flex;
    flex-direction: column;
    width: 100%;
}

.task_progressBar_con_row {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    align-items: center;
}

.task_progressBar_filler {
    height: 100%;
    width: 40%;
    border-radius: 50px;
    border: 2px solid var(--confirm-soft-border);
    background-color: var(--confirm-soft);
}